# Ignore folders
venv/
testing/
models/
scripts/
log/
temp/
book/
images/
audio/

# Bytecode files
__pycache__/
.pytest_cache
*.pytest
*.pyc
*.pyo

# Distribution / Packaging
*.egg-info/
dist/
build/
src/

