
/* --------- Form --------- */
/* Where the user types */
#chatForm {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 50%;
    margin: 20px;
}

#userInput {
    font-family: inherit;
    flex: 1;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid var(--input-border);
    border-radius: 5px;
    background-color: var(--input-bg);
    color: var(--text-color);
}

button {
    align-self: right;
    width: 15%;
    padding: 10px 20px;
    font-size: 1rem;
    border: 1px;
    border-radius: 5px;
    background-color: var(--button-bg);
    color: var(--button-text);
    cursor: pointer;
    /* transition: background-color 0.3s */;
}

button:hover {
    background-color: darken(var(--button-bg), 10%);
}

textarea {
    resize: vertical; /* Allows vertical resizing */
    overflow: auto;   /* Shows scrollbar only when content overflows */
    min-height: 40px; /* Or whatever your initial desired height is */
    width: 100%;      /* Or your desired width */
    box-sizing: border-box; /* Important for consistent sizing */
}