<div class="nav-container position-corner" data-pos="top-center">
    <a href="/" class="nav-btn" id="homeBtn">
        <span class="icon"></span>
        <span>Home</span>
    </a>
    
    <a href="/bot-menu" class="nav-btn" id="botBtn">
        <span class="icon"></span>
        <span>Bot Menu</span>
    </a>
    
</div>


<!-- Navigation Component to chat and bot selection -->
<div class="nav-container position-corner" data-pos="top-left">
    <a href="/talk-to-bot" class="nav-btn" id="homeBtn">
        <span class="icon"></span>
        <span>Chat</span>
    </a>  
    <a href="/bot-menu" class="nav-btn" id="botBtn">
        <span class="icon">🤖</span>
        <span>Bot Menu</span>
    </a>
</div>