<!DOCTYPE html>
<html lang="en" data-theme="auto">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Nicholas Denholm">
    <title>Chatbot</title>

    <!-- chatbox and theme toggle css references -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chatbox.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themes.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/placement.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    
    <!-- Bot selector button -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/page_switcher.css') }}">
   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/voiceSelectStyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/language_box.css') }}">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/placement2.css') }}">

</head>
<body>
    
    <!-- Big ChatBox -->
    <div id="chatBox" class="position-corner" data-pos="center"></div>

    <!-- user reply box -->
    <form id="chatForm" class="position-corner " data-pos="bottom-center">
        <textarea id="userInput" placeholder="Type your message..."></textarea>
        <!--<input type="text" id="userInput" placeholder="Type your message" required>-->
        <button type="submit">Send</button>
    </form>

    <!-- Theme Toggle -->
    <div class="position-corner" data-pos="top-right">
        <button id="themeToggleBtn" title="Toggle theme">🌓</button>
    </div>

    <!-- Voice selector box setup-->
    <div class="voice-select-box position-corner" data-pos="bottom-left">
        <label for="voiceSelect">Voice:</label>
        <select id="voiceSelect" style="width: 100%; max-width: 250px;"></select>
    </div>

    <!-- Language selector box setup-->
    <div class="language-select-box position-corner" data-pos="bottom-right">
        <label for="languageSelect">Language:</label>
        <select id="languageSelect"></select>
        <button id="micButton">🎤 Speak</button>
        <!--<button id="micButton" class="micButton" style="font-size: 18px;">🎤 Speak</button>-->
    </div>

    <!-- ( Chat / Bot Selector ) navigation bar --> 
    {% include 'includes/pageswitcher.html' %}


    <!-- Voice selector reference-->
    <script src="{{ url_for('static', filename='js/selectVoice.js') }}"></script>

    <!-- Text to Speech reference-->
    <script src="{{ url_for('static', filename='js/tts.js') }}"></script>
    <!-- Language selector reference-->
    <script src="{{ url_for('static', filename='js/select_language.js') }}"></script>
    
    <!-- chatbox functions reference -->
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
    <!-- Load the theme toggle script -->
    <script src="{{ url_for('static', filename='js/themeToggle.js') }}"></script>
    
    <!-- Logic for the page switcher button -->
    <script src="{{ url_for('static', filename='js/page_switcher.js') }}"></script> 

    <!-- Logic for popup windows -->
    <script src="{{ url_for('static', filename='js/popup_window.js') }}"></script> 
    

</body>
</html>
